
<style>
    #"hint_id_new_password1{
        display:none
    }
</style>
{% load widget_tweaks %}
<br><br><br>
<h3 class="text-success">Parolini o'zgartirish!<br>Iltimos xavsizlik nuqtaiy nazaridan kelib chiqib eski parolni kiriting</h3>

{% include "quiz/navbar.html" %}
<br><br>
<form method="post">
  {% csrf_token %}
  {{ form }}
  <div class="form-group">
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-ok"></span>O'zgartirish
    </button>
  </div>
</form>




<br><br><br><br><br><br><br>
{% include "quiz/footer.html" %}
