<!DOCTYPE html>
{% load widget_tweaks %}


  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>
  <body>
    {% include "quiz/navbar.html" %}

      <div class="jumbotron" style="margin-top: 0px;
        margin-bottom: 0px;">
        <h3 class="display-4"> Sizning email pochtangizga akkountingizni tiklash uchu bir martalik link yubordik!</h3>
          <p>Iltimos email pochtangizni tekshirib ko'ring!</p>
      </div>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>
{% include "quiz/footer.html" %}
  </body>
</html>
