<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="display-1 text-info">Let's Quiz</h1>
    <p class="display-4 d-none d-sm-block">O'z mahoratingizni sinab ko'ring va usta bo'ling.</p>
    <p class="lead">Biz turli mavzularda viktorinalar tashkil qilamiz.</p>

    

    <p class="lead">Agar hali ro'yxatdan o'tmagan bo'lsangiz, ro'yxatdan o'ting va sizni qiziqtirgan mavzu bo'yicha viktorinalarga kirish huquqiga ega bo'ling.</p>
    <p><strong> Sayohatingizni shu yerdan boshlang:</strong></p>
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
    
    <br><br><br>
  </div>  
</section>
  {% include "quiz/footer.html" %}


</body>

</html>
